name: Build Docker Images

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Dashboard
        run: |
          docker build -t ghcr.io/${{ github.repository }}/dashboard:${{ github.ref_name }} apps/dashboard
          docker push ghcr.io/${{ github.repository }}/dashboard:${{ github.ref_name }}

      - name: Build Worker API
        run: |
          docker build -t ghcr.io/${{ github.repository }}/worker-api:${{ github.ref_name }} apps/worker-api
          docker push ghcr.io/${{ github.repository }}/worker-api:${{ github.ref_name }}
